{% extends 'global/main_layout.html' %}
{% load static %}

{% block title %}Home | {% endblock title %}

{% block content %}

    <div class="search-container">
        <div class="container">
            <form action="" class="search-form">
                <input type="search" class="search-input" name="search" placeholder="Search for a recipe">
                <button type="submit" class="search-button"><img src= {% static 'global/images/find_btn.png' %}></button>
            </form>
        </div>
    </div>   

    <main class="main-content-container">
        <div class="category-title-content content">
            <div class="category-title">
                <h2>By Category</h2>
            </div>
        </div>

        <div class="main-content category-content-list container">
            {% for category in categories %}
                <div class="category category-list-item">
                    <a class="cat-link" href="{% url 'recipes:category' category.slug %}">
                        <h4>{{ category.name }}</h4>
                    </a>
                </div>
            {% empty %}
                <span class="text-center">
                    </h6>No recipes found</h6>
                </span>
            {% endfor %}
        </div>
    </main>

    <main class="main-content-container">
        <h2 class="section-title">Latest Recipes</h2>
        <div class="main-content main-content-list container">
            {% for recipe in recipes %}
                <div class="recipe recipe-list-item">
                    <div class="recipe-cover">
                        <img src="{{ recipe.cover.url }}" alt="Image of the recipe">
                    </div>
                    <div class="categorytag">{{ recipe.category.name }}</div>
                    <div class="recipe-title-container">
                        <h2 class="recipe-title">{{ recipe.title }}</h2>
                    </div>
                    <div class="recipe-author">
                        <span class="recipe-meta-text"> 
                            {{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}
                        </span>
                        <span class="recipe-meta-text">
                            -
                        </span>
                        <span class="recipe-meta-text">
                            {{ recipe.servings }} {{ recipe.servings_unit }}
                        </span>
                    </div>
                    {% if recipe.author is not None %}
                        <div class="recipe-author">
                            <span class="recipe-author-item">
                                {{ recipe.author.first_name }} {{ recipe.author.last_name }}
                            </span>
                    {% endif %}
                    </div>
                    <a href="{% url 'recipes:recipe' recipe.id %}" class='card-link'></a>
                </div>
            {% empty %}
                <span class="text-center">
                    </h6>No recipes found</h6>
                </span>
            {% endfor %}
        </div>
    </main>
{% endblock content %}