{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <title>Romarin</title>
    <meta name="description" content="Explore recipes for everyday">
</head>
<body>
    
    {% include 'global/partials/header.html' %}
    
    {% block content %} {% endblock content %}

    <main class="container pagination">
        {% if recipes.has_other_pages %}
            <div class="pagination-content">
                <div class="center">    
                    {% if pagination_range.first_page_out_of_range %}
                        <a href="?page=1&q={{ request.GET.q.strip }}>❮</a>
                    {% endif %}

                    {% for page in pagination_range.pagination %}
                        {% if pagination_range.current_page == page %}
                            <a class="page-link page-item page-current" href="?page={{ page }}&q={{ request.GET.q.strip }}">{{ page }}</a>
                        {% else %}
                            <a class="page-link page-item" href="?page={{ page }}&q={{ request.GET.q.strip }}">{{ page }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if pagination_range.last_page_out_of_range %}
                        <a href="?page={{ pagination_range.total_pages }}&q={{ request.GET.q.strip }}">❯</a>
                    {% endif %}   
                </div>
            </div>
        {% endif %}
    </main>

    {% include 'global/partials/footer.html' %}

    <script src="{% static 'global/js/scripts.js' %}"></script>
    
</body>
</html>